<div class="shell">
  <aside class="sidebar">
    <div class="logo">
      <div class="mark">◎</div>
      <div class="brand">
        <div class="name">Seu Projeto</div>
        <div class="sub">Front-end</div>
      </div>
    </div>

    <div class="nav">
      <a routerLink="/home" routerLinkActive="active" class="nav-item">Home</a>
      @if (!isOnlyConsultor()) {
        <a routerLink="/order" routerLinkActive="active" class="nav-item">Order</a>
      }
    </div>

      <div class="actions footer">
       V: 1.0.0
      </div>
  </aside>

  <main class="main">
    <header class="topbar">
      <div class="title">{{ title }}</div>

      <app-user-menu></app-user-menu>

    </header>
    <section class="content">
      <ng-content></ng-content>
    </section>
  </main>
</div>
